# ================ Общие файлы редакторов и ОС ================
# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db


# ================ PlatformIO (для Arduino и ESP32) ================
# Папки со сборками, библиотеками и инструментами
.pio/

# Кэш IntelliSense
ipch/
*.ipch

# ================ CMake ===============
**/build/

# ================ CMake (для hub_linux) ================
# Лог-файлы, создаваемые программой
hub_linux/err_log.txt
hub_linux/hub_log.txt
